.header {

    position: relative;
    height: 7.9375rem;
    border-bottom: 1px solid $searchBarShadow;

    &__top {

        height: 4.5rem;
        padding: 5px;
        padding-top: 30px;
    }



    &__logo {
        
        width: 5.8125rem;
        height: 2.0625rem;

        margin: 0px 15px;
    }






    &__searchbar {

        width: 43.25rem;
        height: 2.825rem;

        margin-left: 30px;
        border-radius: 40px;
        box-shadow: 0px 0px 5px $searchBarShadow;
        
    }

    &__search {

        margin-left: 20px;
        width: 34.0rem;
        border: none;

        &:focus {
            
            outline: none;
        }

    }

    &__close {

        padding: 10px;
        >span {
            
            display: inline-block;

            width: 2px;
            height: 25px;
            background-color: gray;
            transform-origin: 1px 15.5px;
        }

        >span:first-child {
            transform: rotate(45deg);
        }

        >span:last-child {
            transform: rotate(-45deg);
        }

    }

    &__line {

        height: 30px;
        margin-top: 8px;
        margin-left: 10px;
        border-right: 1px solid $searchBarShadow;
    }

    &__mic {

        padding: 10px;

    }

    &__search-icon {
        padding: 10px;
    }








    &__right {

        margin-right: 25px;

    }


    &__theme {

        margin: 0px 5px;

    }

    &__settings {

        margin: 0px 5px;
    }

    &__google-apps {
         
        margin: 0px 5px;

        svg {

            width: 1.5rem;
            height: 1.5rem;

            color: $navText;
            fill: currentColor;
        }
    }

    &__pfp {
        
        margin: 0px 5px;

        img {
            
            width: 1.875rem;
            height: 1.875rem;

            border-radius: 50%;
            transform: translateY(-2px);
        }
    }




    &__nav {

        position: absolute;
        bottom: 0;
        margin-left: 10.3125rem;
        width: 43.25rem;


        a:not(:last-child) {

            margin-right: 20px;

        }

        img {
            
            width: 1.25rem;
            height: 1.25rem;
            margin: 5px;

            opacity: .5;
        }
        
        p {
            font-size: .8125rem;
            color: $navText;
        }
        
    }
    


    &__all {
    }

    &__news {

    }

    &__video {

    }

    &__maps {

    }

    &__more {

    }

    &__tools {

        background: none;
        border: 1px solid transparent;
        color: $navText;
        height: 30px;
        padding: 0px 10px;
        font-size: 14px;

        &:hover {
            
            border: 1px solid #dadce0;
            background: #f8f9fa;
            color: $buttonColor;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
        }
    }
}


